# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Temp
tmp/
temp/

# Environment
.env

# Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

redrob_docs/